# This file is automatically managed by enkore
# DO NOT ADD ENTRIES HERE, THEY WILL BE REMOVED
/src/tmpfile.ts
/src/tmpfileSync.ts
/src/tmpdir.ts
/src/tmpdirSync.ts
/export/tmpfileFactory.ts
/export/tmpfile.ts
/export/tmpfileSyncFactory.ts
/export/tmpfileSync.ts
/export/tmpdirFactory.ts
/export/tmpdir.ts
/export/tmpdirSyncFactory.ts
/export/tmpdirSync.ts
